extends layout

block content
  div(class="alert alert-info alert-dismissable")
    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
    div Welcome to Express with Backbone application
  legend New Contact
  form.form-horizontal(role="form")
    div.form-group
      label.col-sm-2(for="first_name") First name
      div.col-sm-3
        input#first_name.form-control(type="text", name="first_name")

  script(src='javascripts/jquery.js')
  script(src='javascripts/underscore.js')
  script(src='javascripts/backbone.js')
  script(src='javascripts/main.js')
  script(src='javascripts/models.js')
  script(src='javascripts/collections.js')
  script(src='javascripts/views.js')
  script(src='javascripts/router.js')

  script.
    new App.Router;
    Backbone.history.start();

    App.contacts = new App.Collections.Contacts;

    App.contacts.fetch().then(function() {
      new App.Views.App({collection: App.contacts})
    });

