doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    .container
      nav(class="navbar navbar-default", role="navigation")
        div(class="navbar-header")
          p.navbar-text Resources List
        a(class="btn btn-default navbar-btn", href="http://expressjs.com/", target="blank") Express 
        a(class="btn btn-default navbar-btn", href="http://backbonejs.org/", target="blank") Backbone 
        a(class="btn btn-default navbar-btn", href="http://mongoosejs.com/", target="blank") Mongoose
        a(class="btn btn-default navbar-btn", href="http://jade-lang.com/", target="blank") Jade
        a(class="btn btn-default navbar-btn", href="http://getbootstrap.com/", target="blank") Twitter Bootstrap 
      block content